.red-point{
  position: relative;
  width: 30px;
  height: 30px;
  margin: 30px;
   .divright {
    position: absolute;
    color: white;
    font-size: 17px;
    background-color: red;
    width: 23px;
    height: 23px;
    line-height: 23px;
    left: 120%;
    top: -35px;
    text-align: center;
    -webkit-border-radius: 24px;
    border-radius: 24px;
  }
  .message {
    margin-top: -40px;
    width: 30px;
    height: 30px;
    font-size: 75px;
    color: yellow;
  }
  
}