a {
  margin: 0 25px;
  color: inherit;//继承父级元素的颜色
  text-decoration: none;
  position: relative;
  display: inline-block;
  .layer {
    width: 75px;
    height: 75px;
    color: white;
    transition: transform 0.3s;
    span {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 1px solid #fff;
      border-radius: 5px;
      transition: all 0.3s;
      &:nth-child(1) {
        opacity: 0.2;
      }
      &:nth-child(2) {
        opacity: 0.4;
        transform: translate(5px, -5px);
      }
      &:nth-child(3) {
        opacity: 0.6;
        transform: translate(10px, -10px);
      }
      &:nth-child(4) {
        opacity: 0.8;
        transform: translate(15px, -15px);
      }
      &:nth-child(5) {
        opacity: 1;
        transform: translate(20px, -20px);
      }
    }
    span#sp {
      font-size: 45px;
      line-height: 75px;
      text-align: center;
    }
  }
  &:nth-child(4) .layer span {
    border-color: #2867b2;
    background: #773322;
    box-shadow: -1px 1px 3px #4267b2;
  }
  &:nth-child(5) .layer span {
    border-color: #ff0000;
    background: #773322;
    box-shadow: -1px 1px 3px #ff0000;
  }
  &:nth-child(1) .layer span {
    border-color: #4267b2;
    background: #773322;
    box-shadow: -1px 1px 3px #4267b2;
  }
  &:nth-child(2) .layer span {
    border-color: #1da1f2;
    background: #773322;
    box-shadow: -1px 1px 3px #1da1f2;
  }
  &:nth-child(3) .layer span {
    background: #773322;
    border-color: #e1306c;
    box-shadow: -1px 1px 3px #e1306c;
  }
  &:hover .layer {
    transform: rotate(-35deg) skew(20deg);
  }
}