<div class="main-panel">
  <div class="content-wrapper">
    <div class="row" style="display: none;">
      <div class="col-12">
        <span class="d-flex align-items-center purchase-popup">
          <p>Like what you see? Check out our premium version for more.</p>
          <a href="#" target="_blank" class="btn ml-auto download-button">Download Free Version</a>
          <a href="#product/purple-bootstrap-4-admin-template/" target="_blank" class="btn purchase-button">Upgrade To
            Pro</a>
          <i class="mdi mdi-close popup-dismiss"></i>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
          <div class="card-body">
            <h4 class="font-weight-normal mb-3">发现问题
              <i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-5">15</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
          <div class="card-body">
            <h4 class="font-weight-normal mb-3">提升效率
              <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-5">30%</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
          <div class="card-body">
            <h4 class="font-weight-normal mb-3">自动化完成率
              <i class="mdi mdi-diamond mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-5">52%</h2>
          </div>
        </div>
      </div>
    </div>
    <div v-for="item in codeList" class="row" style="background-color: #ff9900;border-radius: 5px;box-shadow: 10px 10px 5px #888888;margin-top: 25px;">
        <div style="width: 100%;">
          <el-row style="padding-top: 15px;padding-left: 10px;">
            <el-form :inline="true" class="demo-form-inline">
              <el-form-item label="脚本名称">
                <el-input v-model="item.name" placeholder="脚本名称"></el-input>
              </el-form-item>
              <el-form-item label="脚本描述">
                <el-input v-model="item.desc" placeholder="脚本描述"></el-input>
              </el-form-item>
              <el-form-item label="语言选择">
                <el-select v-model="lang" placeholder="请选择">
                  <el-option
                    v-for="im in langList"
                    :key="im.value"
                    :label="im.label"
                    :value="im.value">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="样式选择">
                <el-select v-model="theme" placeholder="请选择">
                  <el-option
                    v-for="item in themeList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="copyCode(item)" icon="el-icon-plus">复制</el-button>
              </el-form-item>
              <el-form-item>
                <el-button type="danger" v-show="codeList.length > 1"  @click="delScript(item)" icon="el-icon-delete">删除</el-button>
              </el-form-item>
            </el-form>
          </el-row>
          <el-row>
            <v-ace-editor v-model:value="item.code" v-model:lang="lang" v-model:theme="theme" :options=editorOptions
              style="height: 300px;width: 100%;" />
          </el-row>
        </div>
    </div>
  </div>
</div>