#loading {
    background-color: rgb(113, 134, 160);
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    
#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
    #loading-center-absolute {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 150px;
        width: 150px;
        margin-top: -75px;
        margin-left: -75px;
        transform: rotate(45deg);
        .object {
            width: 20px;
            height: 20px;
            background-color:rgb(178, 32, 197);
            position: absolute;
            left: 65px;
            top: 65px;
            &:nth-child(2n+0) {
                margin-right: 0px;
            }
        }
        #object_one {
            animation: object_one 2s infinite;
            animation-delay: 0.2s;
        }
        #object_two {
            animation: object_two 2s infinite;
            animation-delay: 0.3s;
        }
        #object_three {
            animation: object_three 2s infinite;
            animation-delay: 0.4s;
        }
        #object_four {
            animation: object_four 2s infinite;
            animation-delay: 0.5s;
        }
        
#object_five {
    animation: object_five 2s infinite;
    animation-delay: 0.6s;
}
#object_six {
    animation: object_six 2s infinite;
    animation-delay: 0.7s;
}
#object_seven {
    animation: object_seven 2s infinite;
    animation-delay: 0.8s;
}
#object_eight {
    animation: object_eight 2s infinite;
    animation-delay: 0.9s;
}
#object_big {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 50px;
    animation: object_big 2s infinite;
    animation-delay: 0.5s;
}
@keyframes object_one {
    50% {
        transform: translate(-65px, -65px);
    }
}



@keyframes object_two {
    50% {
        transform: translate(0, -65px);
    }
}


@keyframes object_three {
    50% {
        transform: translate(65px, -65px);
    }
}


@keyframes object_four {
    50% {
        transform: translate(65px, 0);
    }
}


@keyframes object_five {
    50% {
        transform: translate(65px, 65px);
    }
}

@keyframes object_six {
    50% {
        transform: translate(0, 65px);
    }
}

@keyframes object_seven {
    50% {
        transform: translate(-65px, 65px);
    }
}


@keyframes object_eight {
    50% {
        transform: translate(-65px, 0);
    }
}


@keyframes object_big {
    50% {
        transform: scale(0.5);
    }
}



    }
}
}



